<div style="min_width: 100%">
	<% @output.each do |row|%>
		<pre><%= row %></pre>
	<% end %>
</div>
<div style="min-width: 100%">
	<% @tree.each do |r|%>
	<div>
		<% r.each do |c|%>
			<div style="float: left"><pre><%= c %></pre></div>
		<% end %>
	</div>
	<div style="clear:both; border: 1px solid;"></div>
	<% end %>
</div>
<div style="min_width: 100%">
	<% @table.each do |row|%>
		<pre><%= row %></pre>
	<% end %>
</div>
